.sidebar {
  background-color: #333;
  color: white;
  width: 200px;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.side-nav-item {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 2rem;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.Icon {
  margin-right: 10px;
}

.nav-item-link {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #555;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
      width: 150px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
  .sidebar {
      width: 100%; 
      height: auto; 
      transform: translateX(-100%); 
      z-index: 100; 
  }

  /* Show sidebar when menu button is clicked */
  .sidebar.open {
      transform: translateX(0); 
  }
}
